{% extends "layout.html" %}
{% set active = "aspace" %}
{% block title %}Connect to ASpace{% endblock %}
{% block content %}
  <h1>Connect DAO to ASpace</h1>
  <div class="h5">
    Hey, lets connect the object in Hyrax to ASpace with a single digital object record!
  </div>

  <form action="/aspace" method="post">
    <div class="mb-3">
      <label for="packageID" class="form-label">Package ID</label>
      <input type="packageID" class="form-control" name="packageID" id="packageID" aria-describedby="packageIDHelp">
      <div id="packageIDHelp" class="form-text">The folder name of the SIP, such as apap301_h4fMLPL48CuxFPLpYxTmkL or ua950.009_qUQbs7GYhzmB3uL3yjH5uX.</div>
    </div>
    <div class="mb-3">
      <label for="refID" class="form-label">ASpace ref ID</label>
      <input type="refID" class="form-control" name="refID" id="refID" aria-describedby="refIDHelp">
      <div id="refIDHelp" class="form-text">The ref ID for the archival object in ASpace, such as ba855f19b7c773db2e7587afab21afcf. This can be found either in ASpace or the Arclight URL.</div>
    </div>
    <div class="mb-3">
      <label for="hyraxURI" class="form-label">Hyrax URI</label>
      <input type="hyraxURI" class="form-control" name="hyraxURI" id="hyraxURI" aria-describedby="hyraxURIHelp">
      <div id="hyraxURIHelp" class="form-text">The link to the item in Hyrax, such as https://archives.albany.edu/concern/daos/9593vc997 or https://archives.albany.edu/concern/daos/q811m315v?locale=en.</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}