{% extends "layout.html" %}
{% set active = "single" %}
{% block title %}Connect to ASpace{% endblock %}
{% block content %}
  <h1>Connect a single DAO to ASpace</h1>
  <div class="h5">
    Hey, lets connect a single object in Hyrax to ASpace with a digital object record!
  </div>

  <div class="h5">
    <a href="https://wiki.albany.edu/display/SCA/Uploading+Single+Digital+Objects+to+Hyrax">Wiki documentation</a>
  </div>

  <form action="/aspace" method="post">
    <div class="mb-3">
      <label for="packageID" class="form-label">Package ID</label>
      <input type="packageID" class="form-control" name="packageID" id="packageID" aria-describedby="packageIDHelp">
      <div id="packageIDHelp" class="form-text">The folder name of the SIP, such as ua500_7wHDAkMWjWD9LBqk4XkDTR apap301_h4fMLPL48CuxFPLpYxTmkL or ua950.009_qUQbs7GYhzmB3uL3yjH5uX.</div>
    </div>
    <div class="mb-3">
      <label for="hyraxURI" class="form-label">Hyrax URI</label>
      <input type="hyraxURI" class="form-control" name="hyraxURI" id="hyraxURI" aria-describedby="hyraxURIHelp">
      <div id="hyraxURIHelp" class="form-text">The link to the item in Hyrax, such as https://archives.albany.edu/concern/daos/9593vc997 or https://archives.albany.edu/concern/daos/q811m315v?locale=en.</div>
    </div>
    <button type="submit" class="btn btn-primary" aria-describedby="btnWarning">Submit</button>
    <div id="btnWarning" class="col-12 col-lg-8 col-xl-5 alert alert-warning form-text" role="alert">⚠ This step is not run in the background and may take some time to process.</div>
  </form>
{% endblock %}