{% extends "layout.html" %}
{% set active = "derivatives" %}
{% block title %}Derivatives{% endblock %}
{% block content %}
  <h1>Create Derivatives</h1>
  <div class="h5">
    Hey, lets convert some images to JPGs or PDFs!
  </div>

  <div class="h5">
    <a href="https://wiki.albany.edu/display/SCA/Creating+Derivatives">Wiki documentation</a>
  </div>

  <form action="/derivatives" method="post">
      <div class="mb-3">
      <label for="packageID" class="form-label">Package ID</label>
      <input type="packageID" class="form-control" name="packageID" id="packageID" aria-describedby="packageIDHelp">
      <div id="packageIDHelp" class="form-text">The folder name of the SIP, such as apap301_h4fMLPL48CuxFPLpYxTmkL or ua950.009_qUQbs7GYhzmB3uL3yjH5uX.</div>
    </div>

    <div class="row">
      <div class="col">
        <label for="inputFormat" class="form-label">Input format</label>
        <select class="form-select" name="inputFormat" id="inputFormat" aria-describedby="inputFormatHelp">
          <option value="png">png</option>
          <option value="tif">tif</option>
          <option value="jpg">jpg</option>
          <option value="pdf">pdf</option>
          <option value="doc">doc</option>
          <option value="docx">docx</option>
          <option value="odt">odt</option>
          <option value="ppt">ppt</option>
          <option value="pptx">pptx</option>
          <option value="odp">odp</option>
          <option value="xls">xls</option>
          <option value="xlsx">xlsx</option>
          <option value="ods">ods</option>
          <option value="csv">csv</option>
        </select>
        <div id="inputFormatHelp" class="form-text">File extension for preservation files in a SIP, such as TIF, PNG, or PDF.</div>
      </div>
      <div class="col">
        <label for="outputFormat" class="form-label">Output format</label>
        <select class="form-select"name="outputFormat" id="outputFormat" aria-describedby="outputFormatHelp">
          <option value="jpg">jpg</option>
          <option value="pdf">pdf</option>
          <option value="png">png</option>
        </select>
        <div id="outputFormatHelp" class="form-text">File extension for access files you would like to create, such as JPG or pdf.</div>
      </div>
      <div class="col">
        <div class="form-text">
          For output PDFs, all files in a folder will be combined into a PDF:
          <div style="white-space: pre;">      ua809_JxkK2VWVFu7F8VWaTe72BG/
              derivatives/
                  book1.pdf
              masters/
                  book1/
                      page1.png
                      page2.png
                      ...
              metadata/</div>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <!--<div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="checkOptional"  onclick="enableOptional()">
        <label class="form-check-label" for="checkOptional">Use subpath</label>
      </div>-->
      <div class="col-3">
        <label for="subPath" class="form-label">Subpath (optional)</label>
        <input class="form-control" name="subPath" id="optional" aria-describedby="subPathHelp">
        <div id="subPathHelp" class="form-text">Only converts files in this folder within the /masters directory.</div>
      </div>
      <div class="col-3">
        <label for="resize" class="form-label">Resize (optional)</label>
        <input class="form-control" name="resize" aria-describedby="resizeHelp">
        <div id="resizeHelp" class="form-text">Optionally resize argument for image conversion, sets maximum in pixels, such as '1000x1000'.</div>
      </div>
      <div class="col-3">
        <label for="density" class="form-label">Density (optional)</label>
        <input class="form-control" name="density" aria-describedby="densityHelp">
        <div id="densityHelp" class="form-text">Optionally resolution argument for image conversion, such as '72' or '300'..</div>
      </div>
      <div class="col-3">
        <div class="form-check mt-4">
          <input type="checkbox" name="monochrome" class="form-check-input">
          <label class="form-check-label" for="checkOptional">Convert to a monochrome image (only black and white)</label>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <script>
    function enableOptional() {
      if (document.getElementById("checkOptional").checked) {
        console.log(false)
        document.getElementById("optional").removeAttribute("disabled")
      } else {
        console.log(true)
        document.getElementById("optional").setAttribute("disabled", true)
      }
    }
    </script>

{% endblock %}