<div class="container mt-3" id="footer">
      {% block footer %}
      <nav class="navbar navbar-light mt-5 mb-5">
            <ol class="row">
                <li class="col-12 col-lg-2">
                    <a href="/ingest">Ingest</a> or <a href="/accession">Accession </a>
                </li>
                <li class="col-12 col-lg-2"><a href="/derivatives">Create derivatives</a></li>
                <li class="col-12 col-lg-2"><a href="/ocr">OCR PDFs</a></li>
                <li class="col-12 col-lg-2">Single Upload
                  <ol>
                        <li><a href="https://archives.albany.edu/concern/daos/new" target="_blank">Upload to Hyrax</a></li>
                        <li><a href="/aspace">Connect to ASpace</a></li>
                  </ol>
                </li>
                <li class="col-12 col-lg-2">Batch Upload
                  <ol>
                        <li><a href="/list">List files</a></li>
                        <li><a href="/buildHyraxUpload">Build Hyrax Sheet</a></li>
                        <li><a href="/buildASpaceUpdate">Update asInventory Sheet</a></li>
                  </ol>
                </li>
                <li class="col-12 col-lg-2"><a href="/package">Finalize AIP</a></li>
            </ol>
      </nav>
      {% endblock %}
</div>