<div class="container mt-3" id="footer">
      {% block footer %}
      <nav class="navbar navbar-light mt-5 mb-5">
            <ol class="row">
                <li class="col-12 col-lg-2">
                    <a href="/ingest">Ingest</a> or <a href="/accession">Accession </a>
                </li>
                <li class="col-12 col-lg-2">Create derivatives
				  <ol>
						<li><a href="/derivatives">Image derivatives </a></li>
						<li><a href="/av_derivatives">AV derivatives</a></li>
				  </ol>	
				</li>
                <li class="col-12 col-lg-2"><a href="/ocr">OCR PDFs</a></li>
                <li class="col-12 col-lg-2"> <a href="https://process.archives.albany.edu/upload">Single Upload</a> 
                  <ol>
                        <li><a href="/recreate">Recreate DAO</a></li>
                  </ol>
                </li>
                <li class="col-12 col-lg-2"><a href="/bulk_upload">Batch Upload</a>
                  <ol>
                        <li><a href="/list">List files</a></li>
                        <li><a href="/sheet">Download Empty Sheet</a></li>
                  </ol>
                </li>
                <li class="col-12 col-lg-2"><a href="/package">Finalize AIP</a></li>
            </ol>
      </nav>
      {% endblock %}
</div>