{% extends "layout.html" %}
{% set active = "ingest" %}
{% block title %}Ingest{% endblock %}
{% block content %}
  <h1>Ingest</h1>
  <div class="h5">
    Hey, lets ingest some stuff!
  </div>

  <form action="/ingest" method="post">
    <div class="mb-3">
      <label for="collectionID" class="form-label">Collection ID</label>
      <input type="collectionID" class="form-control" name="collectionID" id="collectionID" aria-describedby="idHelp">
      <div id="idHelp" class="form-text">Such as apap101 or ua902.010. Files should be placed on Lincoln in <a href="file:////Lincoln/Library/SPE_Processing/ingest">\\Lincoln\Library\SPE_Processing\ingest\[Collection ID]</a></div>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="checkAltPath"  onclick="enableAltPath()">
      <label class="form-check-label" for="checkAltPath">Use alternate path</label>
    </div>
    <div class="mb-3">
      <label for="altPath" class="form-label">Alternate path (optional)</label>
      <input class="form-control" name="altPath" id="altPath" disabled>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <script>
  function enableAltPath() {
    if (document.getElementById("checkAltPath").checked) {
      console.log(false)
      document.getElementById("altPath").removeAttribute("disabled")
    } else {
      console.log(true)
      document.getElementById("altPath").setAttribute("disabled", true)
    }
  }
  </script>

{% endblock %}