{% extends "layout.html" %}
{% set active = "batch" %}
{% block title %}List{% endblock %}
{% block content %}
  <h1>List Files and Empty Sheet!</h1>
  <div class="h5">
    Hey, lets list files and make an empty sheet to help with description for batch uploads!
  </div>

  <div class="h5">
    <a href="https://wiki.albany.edu/display/SCA/Arranging+Digital+Materials+in+ArchivesSpace">Wiki documentation</a>
  </div>

  <form action="/list" method="post">
    <div class="mb-3">
      <label for="packageID" class="form-label">Package ID</label>
      <input type="packageID" class="form-control" name="packageID" id="packageID" aria-describedby="packageIDHelp">
      <div id="packageIDHelp" class="form-text">The folder name of the SIP, such as apap301_h4fMLPL48CuxFPLpYxTmkL or ua950.009_qUQbs7GYhzmB3uL3yjH5uX.</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <div id="btnWarning" class="col-12 col-lg-8 col-xl-5 alert alert-info form-text" role="alert">This step is not run in the background but is usually fast so you won't notice.</div>
  </form>


{% endblock %}