{% extends "layout.html" %}
{% set active = "index" %}
{% block title %}Index{% endblock %}
{% block content %}
  <h1>Index</h1>
  <div class="h5">
    Hey, lets index some description!
  </div>

  <form action="/reindex" method="post">
    <div class="mb-3">
      <label for="collectionID" class="form-label">Collection ID</label>
      <input type="collectionID" class="form-control" name="collectionID" id="collectionID" aria-describedby="idHelp">
      <div id="idHelp" class="form-text">Such as apap101 or ua902.010.</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>



{% endblock %}