{% extends "layout.html" %}
{% block title %}Ingest{% endblock %}
{% block content %}
  <h1>Processing Digital Materials</h1>
  <ol>
    <li>
        <a href="/ingest">Ingest a digitized object</a> or <a href="/accession">Accession born-digital records</a>
    </li>
    <li><a href="/derivatives">Create derivative copies</a></li>
    <li><a href="/list">List files for description</a></li>
    <li><a href="/ocr">OCR PDFs</a></li>
    <li><a href="https://archives.albany.edu/concern/daos/new" target="_blank">Upload to Hyrax</a></li>
    <li><a href="/aspace">Connect to ArchivesSpace</a></li>
    <li><a href="/package">Finalize into an AIP</a></li>
  </ol>
  <p><span style="font-size:1.2rem;">🡆</span> <a href="/logs">View logs</a></p>
{% endblock %}