{% extends "layout.html" %}
{% set active = "upload" %}
{% block title %}Upload{% endblock %}
{% block content %}

  <h1>Upload</h1>
  <div class="h5">
    Hey, lets upload a digital object!
  </div>

  <div class="h5">
    <a href="https://wiki.albany.edu/display/SCA/Ingesting+Digital+Materials">Wiki documentation</a>
  </div>

  <form action="/upload" method="post">

    <div class="mb-3">
      <label for="packageID" class="form-label">Package ID</label>
      <input type="packageID" class="form-control" name="packageID" id="packageID" aria-describedby="packageIDHelp">
      <div id="packageIDHelp" class="form-text">The folder name of the SIP, such as apap301_h4fMLPL48CuxFPLpYxTmkL or ua950.009_qUQbs7GYhzmB3uL3yjH5uX.</div>
    </div>

    <div class="row">
      <div class="col">
      <label for="inputFormat" class="form-label">Input format</label>
        <select class="form-select" name="inputFormat" id="inputFormat" aria-describedby="inputFormatHelp">
          <option value="png">png</option>
          <option value="tif">tif</option>
          <option value="jpg">jpg</option>
          <option value="pdf">pdf</option>
          <option value="ogg_mp3">ogg & mp3</option>
          <option value="webm">webm</option>
        </select>
        <div id="inputFormatHelp" class="form-text">File extension to upload, such as PNG, MP3 & OGG, or WEBM. Will include all files with this extension in the package unless Sub path is used to point to a specific folder or file.</div>
      </div>
      <div class="col">
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="checkSubpath"  onclick="enableSubpath()">
          <label class="form-check-label" for="checkSubpath">Use subpath</label>
        </div>

        <div class="mb-3">
          <label for="subpath" class="form-label">Sub path (optional)</label>
          <input class="form-control" name="subPath" id="subpath" aria-describedby="subPathHelp" disabled>
          <div id="subPathHelp" class="form-text">Limit to specific folder or file within dervatives or masters within the /backlog package. Use forward slashes (/) only.</div>
        </div>
      </div>
      <div class="col">
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" name="createPDF" id="createPDF" checked="true">
          <label class="form-check-label" for="createPDF">Create PDF alternative rendering (ignored for A/V)</label>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="refID" class="form-label">ArchivesSpace ref_id</label>
      <input type="refID" class="form-control" name="refID" id="refID" aria-describedby="idHelp">
      <div id="idHelp" class="form-text">A 32 character ArchivesSpace ID, Such as "9cede46816f600a9ea55232e2bcac9fb."</div>
    </div>

    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label for="resource_type" class="form-label">Resource type</label>
          <select class="form-select" name="resource_type" id="resource_type" aria-describedby="resource_typeHelp">
            <option value="Document">Document</option>
            <option value="Audio">Audio</option>
            <option value="Bound Volume">Bound Volume</option>
            <option value="Dataset">Dataset</option>
            <option value="Image">Image</option>
            <option value="Map">Map</option>
            <option value="Mixed Materials">Mixed Materials (avoid)</option>
            <option value="Pamphlet">Pamphlet</option>
            <option value="Periodical">Periodical</option>
            <option value="Slides">Slides</option>
            <option value="Video">Video</option>
            <option value="Other">Other (avoid)</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
        <label for="behavior" class="form-label">Behavior</label>
        <select class="form-select" name="behavior" id="behavior" aria-describedby="behaviorHelp">
          <option value="individuals">individuals</option>
          <option value="paged">paged</option>
        </select>
        <div id="behaviorHelp" class="form-text">Set the <a href="https://iiif.io/api/cookbook/recipe/0011-book-3-behavior/">behavior for the IIIF object</a>. Use "paged" for a book-like view when the left and right pages are separate images. Ignored for A/V.</div>
      </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label for="license" class="form-label">License</label>
          <select class="form-select" name="license" id="license" aria-describedby="licenseHelp">
            <option value="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA</option>
            <option value="https://creativecommons.org/licenses/by/4.0/">CC BY</option>
            <option value="https://creativecommons.org/publicdomain/zero/1.0/">Public Domain</option>
            <option value="Unknown">Unknown</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="rights_statement" class="form-label">Rights Statement</label>
          <select class="form-select" name="rights_statement" id="rights_statement" aria-describedby="rights_statementHelp">
            <option value=""></option>
            <option value="https://rightsstatements.org/page/InC-EDU/1.0/">In Copyright - Educational Use Permitted</option>
          </select>
          <div id="rights_statementHelp" class="form-text">Use this field only when the License is set to "unknown" such as for cases where we do not own rights and are unable to grant a license.</div>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="content_warning" class="form-label">Add Content Warning</label>
      <textarea class="form-control" name="content_warning" id="content_warning" rows="3"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


{% endblock %}